body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: #6a4f39;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding:7px 200px;
    font-size: 16px;
    font-family: Gilroy-Medium;
    background-color: rgb(63, 63, 63);
}
.head{
    color: white;
}
.head__mainInfo{
    background-color: #d9cabb;
    padding: 13px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: Gilroy-Medium;
    color:rgb(63, 63, 63);
}
.head__logo{
    font-size: 30px;
    font-family: Gilroy-Bold;
    color: rgb(106, 79, 57);
    align-items: center;
}
.head__text{
    color:rgb(63, 63, 63);
}
.head__contacts{
    font-family: Gilroy-Bold;
}

.banner__img{
    width: 100%;
    height: auto;
}


.admin{
    padding: 20px;
    font-family: Gilroy-Medium;
}
.admin__function{
    padding-bottom: 10px;
    font-family: Gilroy-Bold;
    font-size: 18px;
}
th,td{
    padding: 0 10px;
}
th{
    padding-bottom: 5px;
}
td{
    text-align: center;
}
.admin__back{
    margin: 30px 0 0 20px;
    height: 55px;
    width: 200px;
    font-size: 18px;
    font-family: Gilroy-Bold;
    background: #d9cabb;
    color: #6a4f39;
    border: none;
    border-radius: 5px;
}
.admin__back:hover{
    background: #ab9585;
    color: #5b4231;
    transition: 0.5s;
}
input{
    margin-left: 10px;
    height: 24px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.add-master__button{
    width: 150px;
    height: 30px;
    margin: 10px auto 10px auto;
    border: none;
    border-radius: 7px;
    background: #d9cabb;
    color: #6a4f39;
    font-family: Gilroy-Bold;
    font-size: 16px;
}
.add-master__button:hover{
    background: #c9b09d;
    color: #543c2d;
    transition: 0.5s;
}
#time_sch{
    width: 300px;
    height: 25px;
}


footer{
    margin-top: auto;
    height: 80px;
    width: 100%;
    background: black;
    color: white;
    font-family: Gilroy-Medium;
    align-items: center;
}
.footer__contact{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    align-items: center;
}
.footer__phone {
    font-family: Gilroy-Bold;
    font-size: 18px;
}


@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/Gilroy-Light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
