body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: #6a4f39;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding:7px 200px;
    font-size: 16px;
    font-family: Gilroy-Medium;
    background-color: rgb(63, 63, 63);
}
.head{
    color: white;
}
.head__mainInfo{
    background-color: #d9cabb;
    padding: 13px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: Gilroy-Medium;
    color:rgb(63, 63, 63);
}
.head__logo{
    font-size: 30px;
    font-family: Gilroy-Bold;
    color: rgb(106, 79, 57);
    align-items: center;
}
.head__text{
    color:rgb(63, 63, 63);
}
.head__contacts{
    font-family: Gilroy-Bold;
}

.banner__img{
    width: 100%;
    height: auto;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}
.content__title{
    font-size: 45px;
    font-family: Gilroy-Bold;
    color: rgb(106, 79, 57);
    align-items: center;
}



.command__employee{
    background-size: cover;
    height: 400px;
    width: 300px;
    border: 1px solid lightgrey;
    margin-right: 70px;
    margin-bottom: 50px;
}
#admin{
    background-image: url("../img/admin.png");
}
#admin1{
    background-image: url("../img/1.jpg");
}
#admin2{
    background-image: url("../img/2.jpg");
}
#admin3{
    background-image: url("../img/3.jpg");
}
#admin4{
    background-image: url("../img/4.jpg");
}
#admin5{
    background-image: url("../img/5.jpg");
}
#admin6{
    background-image: url("../img/6.jpg");
}
#admin7{
    background-image: url("../img/7.jpg");
}
#admin8{
    background-image: url("../img/8.jpg");
}
#admin9{
    background-image: url("../img/9.jpg");
}
#admin10{
    background-image: url("../img/10.jpg");
}
#admin11{
    background-image: url("../img/11.jpg");
}
#admin12{
    background-image: url("../img/12.jpg");
}
#admin13{
    background-image: url("../img/13.jpg");
}
#admin14{
    background-image: url("../img/14.jpg");
}
#admin15{
    background-image: url("../img/15.jpg");
}

.employee__about{
    display: flex;
    flex-direction: column;
    margin: 320px 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.678);

}
.employee__text{
    color: white;
    margin: 0 0 10px 0;
}
.employee__post{
    font-size: 14px;
    font-family: Gilroy-Medium;
}
.employee__name{
    font-size: 20px;
    font-family: Gilroy-Bold;
}

.command__description{
    font-family: Gilroy-Medium;
    color:rgba(52, 46, 38, 0.879);
    font-size: 18px;
}
.command__container{
    display: flex;
    flex-wrap: wrap;
}





footer{
    margin-top: auto;
    height: 80px;
    width: 100%;
    background: black;
    color: white;
    font-family: Gilroy-Medium;
    align-items: center;
}
.footer__contact{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    align-items: center;
}
.footer__phone{
    font-family: Gilroy-Bold;
    font-size: 18px;
}



@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/Gilroy-Light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

